{% load staticfiles %}
<div class="left-sidebar">
  {% include "partials/category_list.html" %}
  {% include "partials/brand_list.html" %}
  {% if not no_range and max_price %}
  <div class="price-range"><!--price-range-->
    <h2>Price Range</h2>
    <div class="well text-center">
       <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="{{max_price}}" data-slider-step="500" data-slider-value="[{{ request.GET.min|default_if_none:'0' }},{{ request.GET.max|default_if_none:max_price }}]" id="sl2" ><br />
       <b class="pull-left">0</b> <b class="pull-right">{{ max_price }}</b>
       <a id="change-range" href="#"><i class="fa fa-refresh"></i></a>
    </div>
  </div><!--/price-range-->
  {% endif %}
  <div class="shipping text-center"><!--shipping-->
    <img src="{% static 'eshop/images/home/shipping.jpg' %}" alt="" />
  </div><!--/shipping-->
</div>
