{% load i18n %}
{% load currency_filters %}
{% load shipping_tags %}

{% with offer_discounts=basket.offer_discounts voucher_discounts=basket.grouped_voucher_discounts %}
<div class="total_area">
  <ul>
    {% block discount_totals %}
    {% if offer_discounts or voucher_discounts %}
    <li>Cart Sub Total (Before Discounts)
    </li>
    <li class="text-right">
      {% if basket.is_tax_known and not show_tax_separately %}
          {{ basket.total_incl_tax_excl_discounts|currency:basket.currency }}
      {% else %}
          {{ basket.total_excl_tax_excl_discounts|currency:basket.currency }}
      {% endif %}
    </li>
    {% for discount in offer_discounts %}
    <li data-tooltip="tooltip" data-placement="top" data-title="{% if discount.description %}{{ discount.description }}{% endif %}">{{ discount.name }}
      <span class="text-right">- {{ discount.discount|currency:basket.currency }}</span>
    </li>
    {% endfor %}

    {% if voucher_discounts %}
        <li>{% trans "Vouchers" %}</li>
        {% for discount in voucher_discounts %}
        <li>{{ discount.voucher.name }} ({{ discount.voucher.code }})<span>{{ discount.discount|currency:basket.currency }}</span></li>
          {% if editable %}
          <li>
              <form action="{% url 'basket:vouchers-remove' pk=discount.voucher.id %}" method="POST">
                  {% csrf_token %}
                  <input type="submit" value="{% trans 'Remove' %}" class="btn btn-sm btn-danger" />
              </form>
            </li>
          {% endif %}
        {% endfor %}
    {% endif %}
    {% endif %}
    {% endblock %}
    {% block basket_total %}
    <li>{% if offer_discounts or voucher_discounts %}{% trans "Cart Sub Total (After Discounts)" %}{% else %}{% trans "Cart total" %}{% endif %}
    </li>
    <li class="text-right">
        {% if not show_tax_separately and basket.is_tax_known %}
            {{ basket.total_incl_tax|currency:basket.currency }}
        {% else %}
            {{ basket.total_excl_tax|currency:basket.currency }}
        {% endif %}
    </li>
    {% endblock %}
    {% block shipping_totals %}
    {% if not shipping_method.is_discounted %}
      <li>{{ shipping_method.name }}
        <span>
          {% if not show_tax_separately and shipping_charge.is_tax_known %}
              {{ shipping_charge.incl_tax|currency:basket.currency }}
          {% else %}
              {{ shipping_charge.excl_tax|currency:basket.currency }}
          {% endif %}
        </span>
      </li>
    {% else %}
        {% shipping_charge_discount shipping_method basket as shipping_discount %}
        {% shipping_charge_excl_discount shipping_method basket as shipping_charge_excl_discount %}
        {# As shipping is discounted, we break it down into its original charge and a discount #}
        <li>
            {% trans "Shipping method" %}
            <span>{{ shipping_method.name }}</span>
        </li>
        <li>
            {% trans "Shipping total (before discounts)" %}
        </li>
        <li>
            {% if not show_tax_separately and shipping_charge_excl_discount.is_tax_known %}
                {{ shipping_charge_excl_discount.incl_tax|currency:basket.currency }}
            {% else %}
                {{ shipping_charge_excl_discount.excl_tax|currency:basket.currency }}
            {% endif %}
        </li>
        {# This section needs adjustment to when taxes are shown separately #}
        <li>
            {% trans "Discount" %}  {{ shipping_method.discount_name }}
        </li>
        <li class="text-right">-{{ shipping_discount|currency:basket.currency }}</li>
        <li>
            {% trans "Shipping total (after discounts)" %}
        </li>
        <li class="text-right">
            {% if not show_tax_separately and shipping_charge.is_tax_known %}
                {{ shipping_charge.incl_tax|currency:basket.currency }}
            {% else %}
                {{ shipping_charge.excl_tax|currency:basket.currency }}
            {% endif %}
        </li>
    {% endif %}
    {% endblock %}
    {% block tax_totals %}
        {% if show_tax_separately %}
        <li>{% trans "Tax" %}</li>
            <li>
                {% trans "Basket" %}
                <span class="text-right">
                    {{ basket.total_tax|currency:basket.currency }}
                </span>
            </li>
            <li>
                {% trans "Shipping" %}
                <span class="text-right">
                    {{ shipping_charge.tax|currency:basket.currency }}
                </span>
            </li>
        {% endif %}
    {% endblock %}
    {% block post_order_action_totals %}
        {% if basket.post_order_actions %}
            <li>
                <h3>{% trans "Post order actions" %}</h3><small>{% trans "These will be applied once your order is placed." %}</small>
            </li>
            {% for discount in basket.post_order_actions %}
                <li>
                  {{ discount.name }}<br/>
                  <p>{{ discount.description }}</p>
                </li>
            {% endfor %}
        {% endif %}
    {% endblock %}
    {% block order_total %}
        <li>
            {% trans "Order total" %}
            <span class="text-right">
              {% if order_total.is_tax_known %}
                  {{ order_total.incl_tax|currency:basket.currency }}
              {% else %}
                  {{ order_total.excl_tax|currency:basket.currency }}
              {% endif %}
            </span>
        </li>
        {% if not order_total.is_tax_known %}
            <li>
                <small>{% trans "Taxes will be added during checkout." %}</small>
            </li>
        {% endif %}
    {% endblock %}
  </ul>
    <a class="btn btn-default check_out" href="{% url 'checkout:index' %}">Check Out</a>
</div>
{% endwith %}
