{% extends 'dashboard/layout.html' %}
{% load category_tags %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block body_class %}{{ block.super }} carousel items{% endblock %}

{% block title %}
    {% trans "Carousel Items" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{% trans "Carousel Items" %}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <a href="{% url 'dashboard:carousel-item-create' %}" class="btn btn-primary btn-lg pull-right"><i class="icon-plus"></i> {% trans "Create new carousel item" %}</a>
        <h1>{% trans "Carousel Items" %}</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
  {% render_table carousel %}
{% endblock dashboard_content %}
