{% load staticfiles %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
    {% if subcategories %}
      <a data-toggle="collapse" data-parent="#accordian" href="#{{category}}">
        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
        {{category}}
      </a>
      {% else %}
      <a href="#">{{category}}</a>
      {% endif %}
    </h4>
  </div>
  {% if subcategories %}
  <div id="{{category}}" class="panel-collapse collapse">
    <div class="panel-body">
      <ul>
        {% for sub in subcategories %}
        <li><a href="#">{{sub}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
</div>
